* {
    box-sizing: border-box;
    transition: all ease 0.5s;
}
body {
    /*background: #bbb url("../images/hex-bg.png"); */
    background: #444 url("../images/bg-unsplash-minified-ardito-ryan-harrisna-mgcw5w1JhVg.jpg") center / cover;
    display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

/* Text styling */
a { color: #63bdbb; text-decoration: none;}
a:hover { color: #f36652; text-decoration: underline;}


/* Content positioning */
main, footer {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.5);
    width: 90%;
        max-width: 1080px;
}

main {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #63bdbb;
    border-image: linear-gradient(to bottom, #f36652, #63bdbb, #fabd46);
    border-image-slice: 1;
    display: flex;
        align-items: stretch;
        flex-flow: row;
}

nav {
    background: rgba(255, 255, 255, 0.25);
    display: flex;
        flex-flow: column;
    font-size: 1.5em;
    text-align: center;
}
    nav a { 
        color: black; 
        padding: 2rem; 
    }
    nav a:hover, 
    nav a.active{ 
        background: rgba(99, 189, 187, 0.75); 
        color: white; 
        text-decoration: none; 
    }
    nav #nav-logo .nav-img, 
    nav #nav-logo:hover .nav-hover {
        display: inline-block;
        width: 4em;
    }
    nav #nav-logo .nav-hover, 
    nav #nav-logo:hover .nav-img {
        display: none;
    }
    

footer { 
    background: rgba(99, 189, 187, 0.9);
    border: 0;
    border-top: 0.25em solid #63bdbb;
    border-image: linear-gradient(to right, #f36652, #63bdbb, #fabd46);
    border-image-slice: 1;
    color: white;
    padding: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}

.container {
    border-width: 0;
    border-left: 1px solid #63bdbb;
    border-image: linear-gradient(
        to bottom, 
        #f36652,#63bdbb, #fabd46
    );
    box-shadow: inset 10px 0px 3px -10px rgba(0,0,0,0.5);
    border-image-slice: 1;
    display: flex;
        align-items: stretch;
        justify-content: stretch;
    flex: 1 1 auto;
}

section {
    display: none;
    min-height: 20vh;
    padding: 2em;
}
section.active {
    background: rgba(99, 189, 187, 0.25);
    display: block;
    flex: 1 1 auto;
}

section#home.active {
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
}
section#home img {
    display: inline-block;
    width: 50%;
}

